main {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 500px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  box-shadow: 0px 3px 20px 0px #00000020;
  border-radius: 10px;
}

h1 {
  color: var(--primary-color);
  font-size: var(--heading-font);
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-size: var(--sub-heading-font);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: var(--font-weight-heading);
  color: var(--secondary-color);
}

input {
  border: 0.5px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: var(--regular-font);
  margin-top: 10px;
  outline: none;
}

.button, button {
  width: 100%;
  max-width: 300px;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 5px 0;
  border: 0;
  color: var(--bg-color);
  font-size: var(--regular-font);
  font-weight: var(--font-weight-heading);
}

.button {
  margin-top: 30px;
  align-self: center;
}

.modal {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  width: 300px; 
  max-width: 90%; 
  text-align: center; 
}

.modal p {
  margin-bottom: 15px; 
  font-size: 18px;
}

.modal input[type="text"] {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px; 
}

.modal button {
  width: 100%; 
  padding: 10px; 
  background-color: #007bff;
  color: white;
  border: none; 
  border-radius: 4px;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.modal button:hover {
  background-color: #0056b3; 
}

.modal button:focus {
  outline: none; 
}


@media screen and (min-width: 320px) {
  main {
    padding: 20px;
  }
}