main {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 500px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  box-shadow: 0px 3px 20px 0px #00000020;
  border-radius: 10px;
}

h1 {
  color: var(--primary-color);
  font-size: var(--heading-font);
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-size: var(--regular-font);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: var(--font-weight-heading);
  color: var(--secondary-color);
}

input {
  width: 100%;
  border: 0.5px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  font-size: var(--regular-font);
  outline: none;
}

.button, .buttonDisabled {
  align-self: center;
  width: 100%;
  max-width: 300px;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 10px 0;
  margin-top: 30px;
  border: 0;
  color: var(--bg-color);
  font-size: var(--regular-font);
  font-weight: var(--font-weight-heading);
  cursor: pointer; 
  transition: var(--transition);
}

.buttonDisabled {
  background-color: #00000020;
  cursor: not-allowed;
}

.button:hover {
  background-color: rgb(202, 43, 75);
}

.modal-wrapper {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-color: #00000030;
}

.modal {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  width: 300px; 
  max-width: 90%; 
  text-align: center; 
}

.modal p {
  margin-bottom: 15px; 
  font-size: 18px;
}

.modal label {
  margin-bottom: 10px;
}

.modal button {
  background-color: var(--tertiary-color);
}

.modal button:hover {
  background-color: #0056b3; 
}

.modal button:focus {
  outline: none; 
}

.timed-modal {
  width: 50%;
  padding: 30px;
}

.timed-modal h2 {
  font-size: 7rem;
}

.timed-modal p {
  font-size: 1rem;
  line-height: 20px;
}


@media screen and (min-width: 320px) {
  main {
    padding: 20px;
  }
}